{
    "parser": "babel-eslint",
    "globals": {
        "$": true,
        "window": true,
        "document": true,
        "debugger": true,
        "WebSocket": true,
        "RTCSessionDescription": true,
        "Notification": true,
        "alert": true,
        "confirm": true,
        "__dirname": true,
        "__filename": true,
        "arguments": true,
        "Buffer": true,
        "Image": true,
        "Blob": true,
        "clearImmediate": true,
        "clearInterval": true,
        "clearTimeout": true,
        "console": true,
        "exports": true,
        "GLOBAL": true,
        "global": true,
        "Intl": true,
        "module": true,
        "process": true,
        "require": true,
        "root": true,
        "setImmediate": true,
        "setInterval": true,
        "setTimeout": true,
        "Array": true,
        "ArrayBuffer": true,
        "Boolean": true,
        "constructor": true,
        "DataView": true,
        "Date": true,
        "decodeURI": true,
        "decodeURIComponent": true,
        "encodeURI": true,
        "encodeURIComponent": true,
        "Error": true,
        "escape": true,
        "eval": true,
        "EvalError": true,
        "Float32Array": true,
        "Float64Array": true,
        "Function": true,
        "hasOwnProperty": true,
        "Infinity": true,
        "Int16Array": true,
        "Int32Array": true,
        "Int8Array": true,
        "isFinite": true,
        "isNaN": true,
        "isPrototypeOf": true,
        "JSON": true,
        "Map": true,
        "Math": true,
        "NaN": true,
        "Number": true,
        "Object": true,
        "parseFloat": true,
        "parseInt": true,
        "Promise": true,
        "propertyIsEnumerable": true,
        "Proxy": true,
        "RangeError": true,
        "ReferenceError": true,
        "Reflect": true,
        "RegExp": true,
        "Set": true,
        "String": true,
        "Symbol": true,
        "SyntaxError": true,
        "System": true,
        "toLocaleString": true,
        "toString": true,
        "TypeError": true,
        "Uint16Array": true,
        "Uint32Array": true,
        "Uint8Array": true,
        "Uint8ClampedArray": true,
        "undefined": true,
        "unescape": true,
        "URIError": true,
        "valueOf": true,
        "WeakMap": true,
        "WeakSet": true,
        "Audio": true
    },
    "env": {
      "node": true,
      "es6": true
    },
    "plugins": [
        "babel",
        "react",
    ],
    "extends": "eslint:recommended",
    "rules": {
        "no-debugger": "off",
        "comma-dangle":  ["error", "only-multiline"],
        "no-console": "off",
        "react/jsx-uses-vars": 2,
        "react/jsx-uses-react": 2,
    }
}
