{% extends "ui/base.html" %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
    <div style="height: 100%; width: 100%; overflow-y: scroll">
        <br/>
        <div class="col-md-4 col-md-offset-4 alert alert-danger" style="text-align: center; color: black;">
            <h1>{% trans "Change Password" %}</h1>
            <hr/>
            {% if messages %}
                <div class="alert alert-success">
                    {% for message in messages %}
                        {{message}}<br/>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-success">
                    Your password has been changed succesfully.
                </div>
            {% endif %}
            <hr/>
            <a href="/accounts/login/?next=/user/" class="btn btn-default">Go to my User Profile &gt;</a>
        </div>
    </div>
{% endblock inner %}
