{% extends "ui/base.html" %}

{% load i18n %}

{% block title %}{% trans "Password Reset Done" %}{% endblock %}

{% block inner %}
    <div style="height: 100%; width: 100%; overflow-y: scroll">
        <br/>
        <div class="col-md-4 col-md-offset-4 alert alert-danger" style="text-align: center; color: black;">
            <h1>{% trans "Password Reset" %}</h1>
            
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            {% if messages %}
                <div class="alert alert-success">
                    {% for message in messages %}
                        {{message}}<br/>
                    {% endfor %}
                </div>
            {% endif %}
            
            <hr/>

            We have sent you an e-mail.<br/>
            Please contact us if you do not receive it within a few minutes.<br/><br/>

            <hr/>
            <p><a href="/support/">Contact support</a> if you have any trouble resetting your password.</p>
        </div>
    </div>
{% endblock inner %}
