{% extends "ui/base.html" %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
    <div style="height: 100%; width: 100%; overflow-y: scroll">
        <br/>
        <div class="col-md-4 col-md-offset-4 alert alert-danger" style="text-align: center; color: black;">
            <h1>{% trans "Change Password" %}</h1>
            
            {% if messages %}
                <div class="alert alert-success">
                    {% for message in messages %}
                        {{message}}<br/>
                    {% endfor %}
                </div>
            {% endif %}

            <hr/>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change" style="text-align: left; width: 360px; margin: auto; display: block">
                {% csrf_token %}
                {{ form.as_p }}
                <br/>
                <button class="btn btn-success" type="submit" name="action">{% trans "Change Password" %}</button>
            </form>
            <hr/>
            <a href="/accounts/login/?next=/user/" class="btn btn-default">Back to my User Profile &gt;</a>
        </div>
    </div>
{% endblock inner %}
