{% extends "ui/base.html" %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
    <div style="height: 100%; width: 100%; overflow-y: scroll">
        <br/>
        <div class="col-md-4 col-md-offset-4 alert alert-danger" style="text-align: center; color: black;">
            <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
            
            {% if messages %}
                <div class="alert alert-success">
                    {% for message in messages %}
                        {{message}}<br/>
                    {% endfor %}
                </div>
            {% endif %}

            <hr/>

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}
                    The password reset link was invalid, possibly because it has already been used.<br/>
                    Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
                {% endblocktrans %}</p>
            {% else %}
                {% if form %}
                    <form method="POST" action="{{ action_url }}" class="password_change" style="text-align: left; width: 360px; margin: auto; display: block">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-default" type="submit" name="action">Change Password</button>
                    </form>
                {% else %}
                    <div class="alert alert-sucess">{% trans 'Your password is now changed.' %}</div>
                {% endif %}
            {% endif %}

            <hr/>
            <a href="/support/">Contact support</a> if you have any trouble resetting your password.
        </div>
    </div>
{% endblock inner %}
