.DS_Store
*.pyc
__pycache__
*.cache*
*.sublime-project
*.sublime-workspace
*.js.map
*.js.compiling
*.js.compiling-*
core/js/yarn-error.log
core/js/package-lock.json
core/venv
core/.venv
core/pypy-venv
core/.mypy_cache
.coverage
.idea/
.vscode/
env/secrets.env
etc/nginx/*.csr
etc/nginx/*.crt
etc/nginx/*.key
database/
core/js/node_modules/*
!core/js/node_modules/.gitignore
data/*
!data/certs
.secrets-prod.env
etc/zulip/support_bot.ini
