$black: #000;
$white: #fafafa;
$gray: #808080;
$orange: #ffa500;
$purple: #800080;
$blue: #1171d6;

/* Dark theme colors */
$body-black: #1a1b1b;
$body-black-d1: #111;
$body-black-l1: #222;

$body-gray: #333;
$body-gray-l1: #777;
$body-gray-l2: #999;

$body-white: #eee;
$body-white-l1: #ddd;
$body-white-l2: #ccc;

$footer-black:  #262627;
$footer-gray: #aaa;
$game-black: #161616;
$profile-gray: #515151;
$dealer-gray: #aa9;

$felt-black: #252525;
$seat-bg: #39422f;
$seat-border: #0c3b3e;
$seat-green: #238b45;
$action-black: #1d2520;
$action-bg: #272727;

/* Additonal light theme colors */
$body-light: #f4f4f2;

$seat-bg-light: #575a5c;
$seat-border-light: #3b3e41;
$seat-shadow-light: rgba(0, 0, 0, 0.4);
$seat-hover: #1171d6;
$seat-name-border: #eaeaea;
$seat-name-bg: #2E3b32;
$seat-fold-bg: #46503c;

$highlight-color: #1171d6;  // #e98a33
$highlight-gray: #aaa;

$orange-light: #ff851b;
$blue-light: #3b9aff;
$brand-light: #564c4c;

$success-green: #27b23f;
$sit-in-green: #10af2c;
$actions-green: #42bf58;

$game-header-highlight: #666;

$tournament-summary-item-dark-bg: #565656;
