/* Dark theme colors */
/* Additonal light theme colors */
body {
  color: #eee;
  background-color: #1a1b1b; }
  body > div.inner-content.container-fluid {
    background-color: #1a1b1b; }

#react {
  color: #fafafa; }

.dropdown-menu {
  background-color: #515151; }
  .dropdown-menu li > a {
    color: #eee; }

input {
  color: #333; }

.logo-colors {
  color: #777; }

.orange {
  color: #3b9aff; }

.highlight {
  background: #3b9aff;
  color: black; }

h1 {
  color: #aaa; }

/* brand */
#logo-text > span {
  color: #1171d6 !important; }

.oddslingers-text-logo {
  color: #ddd;
  text-shadow: 3px 2px 10px rgba(0, 0, 0, 0.2); }
  .oddslingers-text-logo::first-letter {
    color: #3b9aff; }

a.clbl {
  color: #ddd; }

.navbar-default {
  background-color: #1a1b1b; }
  .navbar-default .navbar-brand:hover img {
    border: 3px solid #3b9aff; }
  .navbar-default .navbar-nav > li > a {
    color: #fafafa;
    border-bottom: 2px solid transparent; }
    .navbar-default .navbar-nav > li > a:hover {
      color: #3b9aff;
      border-bottom: 2px solid #fafafa; }
    .navbar-default .navbar-nav > li > a:active {
      background-color: #000; }

.navbar .navbar-nav > li > a {
  /* make inactive page icons slightly lighter */ }
  .navbar .navbar-nav > li > a:hover > i.fa {
    color: #3b9aff; }
  .navbar .navbar-nav > li > a:active > i.fa {
    color: #3b9aff; }
  .navbar .navbar-nav > li > a > .page-icon {
    opacity: 0.7;
    color: #808080; }

.navbar a.navbar-brand:hover {
  color: #ccc; }

#navbar-items .nav .active {
  background-color: #111;
  color: #3b9aff; }

#navbar-items .nav li.account-dropdown .active {
  background-color: #333; }

#navbar-items li:hover > a.btn-signup {
  box-shadow: -2px 1px 10px 2px #000; }

.nav > li {
  margin: 0 !important; }

.navbar-toggle {
  color: #fafafa; }

/* buttons */
.btn-default {
  background-color: #333;
  color: #ddd; }
  .btn-default:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fafafa; }

/* game */
.game-header .toggle-sounds.fa-volume-up {
  color: #fafafa; }

.game-header .toggle-sounds.fa-volume-off {
  color: #808080; }

.game-header-buttons .btn-default {
  background-color: #333;
  color: #ddd; }
  .game-header-buttons .btn-default:hover {
    color: #fafafa;
    background-color: #161616; }

.input-group > span {
  background-color: rgba(0, 0, 0, 0.4); }
  .input-group > span.input-group-btn {
    background-color: #000; }

.felt {
  background-image: url(/static/images/felt.webp);
  background-color: #1a1b1b;
  border: 6px solid #252525; }

.no-webp .felt {
  background-image: url(/static/images/felt.png); }

.empty-seatbox .seat {
  background-color: #000; }
  .empty-seatbox .seat:hover {
    border-color: #3b9aff; }

.seat {
  background-color: #39422f;
  color: #fafafa;
  border: 3px solid #0c3b3e;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4); }
  .seat .player-name {
    background-color: #2E3b32;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
    border-bottom: 1px groove #fafafa; }
  .seat.next-to-act {
    background: #238b45;
    border: 3px solid #fafafa;
    box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.4); }
  .seat.FOLD {
    background-color: rgba(70, 80, 60, 0.95);
    border-color: black;
    box-shadow: none;
    opacity: 0.7 !important; }

.action-label-inner {
  background-color: #1d2520; }

.action-label-arrow {
  border-top-color: #1d2520; }

.actions {
  background-color: rgba(39, 39, 39, 0.5); }

.passive-actions {
  background-color: rgba(39, 39, 39, 0.5); }
  .passive-actions .actions-title {
    background-color: rgba(35, 139, 69, 0.5); }

.signal-badge {
  color: #fafafa;
  background-color: #808080; }

.signal-bars .bar {
  background-color: #333; }

/* footer */
#footer {
  color: #aaa;
  background-color: rgba(38, 38, 39, 0.91); }
  #footer a {
    color: #fafafa; }
    #footer a:hover {
      color: #3b9aff; }
  #footer .col-middle {
    border-left: 1px solid #333;
    border-right: 1px solid #333; }

/* tables*/
#react > .table-grid {
  background-color: #333; }

.leaderboard-thumbnail {
  border: 3px solid #000; }

.footer-stats h2 {
  color: #ddd; }

.table-page {
  background-color: #1a1b1b;
  background-image: url(/static/images/brick_tile2.webp); }

.no-webp .table-page {
  background-image: url(/static/images/brick_tile2.jpg); }

/* chat */
.chat-container .ss-scroll {
  background: rgba(250, 250, 250, 0.1); }

.page-tournamentsummary .text-chat {
  background-color: #565656; }

.text-chat {
  background-color: rgba(0, 0, 0, 0.8); }

.chat-top-button {
  background-color: #333; }

.chat-lines .chat-line .chat-timestamp {
  color: #000; }

.chat-lines .chat-line:hover .chat-timestamp {
  color: #ddd; }

.chat-lines .chat-line .chat-message-light {
  color: #999; }

.chat-lines .dealer-msg {
  color: #aa9; }

#play-by-play-toggle.btn:hover {
  background-color: #2a2a2a; }

/* Tournament summary */
.tournament-entrants .entrant {
  background-color: #565656; }

@media (min-width: 768px) {
  .navbar {
    background-color: #1a1b1b; } }

@media (max-width: 1200px) {
  .toggle-chat {
    background-color: #222;
    color: #fafafa; } }

@media (max-width: 767px) {
  .game-header .btn {
    border-left: 1px solid #fafafa;
    background-color: #222 !important; }
  .game-header-buttons .feature-btn {
    border: #fafafa 2px solid; }
  nav.navbar .navbar-toggle .icon-bar {
    background-color: #800080; }
  nav.navbar .navbar-collapse {
    background-color: #1a1b1b;
    border-bottom: 3px solid #800080; } }

/* page background colors */
.support-page {
  background-color: #333; }

.speedtest-page {
  color: #ddd;
  background-color: #333; }

.login-page {
  background-color: #333; }

.faq-page {
  background-color: #333;
  color: #ddd; }

/* profile */
.profile-main-panel {
  background-color: rgba(81, 81, 81, 0.99); }

.profile-info {
  color: #ddd; }

/* learn page */
.learning-page {
  background-color: #333; }

.walkthrough {
  background-color: #222; }

/* modal text */
.modal-body {
  color: #333; }

/* Leaderboard */
#leaderboard-tabs li.active a {
  background-color: #3b9aff;
  color: white;
  display: inline-block;
  border-radius: 10px 10px 0px 0px; }

#leaderboard-tabs li a {
  color: white; }

#leaderboard-tabs li.active a:hover {
  color: white; }

#leaderboard-tabs li a:hover {
  color: #333; }
