<div id="footer" class="container">
    <br/>
    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <h1 class="oddslingers-text-logo" style="opacity: 0.7; margin-top: -5px">
                OddSlingers
            </h1>
            Fast, safe, secure poker for all worldwide!<br/>
            <a href="{% url 'Signup' %}">Sign up</a> and play Texas Hold'Em, Omaha, and more!<br/>
            <small>(free play-chips only, <a href="{% url 'FAQ' %}">more info...</a>)</small>
            <br/>
        </div>
        <div class="col-sm-6 col-lg-4 col-middle">
            <br/>
            <a href="{% url 'Tables' %}">Tables</a><br/>
            <a href="{% url 'Leaderboard' %}">Leaderboard</a><br/>
            <a href="{% url 'Learn' %}">Learn Poker</a><br/>
            <a href="{% url 'Support' %}">Support</a><br/>
            <a href="{% url 'FAQ' %}">FAQ</a><br/>
            <br/>
        </div>
        <div class="col-sm-6 col-lg-4">
            <br/>
            <a href="{% url 'About' %}">About</a><br/>
            <a href="https://monadical.com/">Monadical</a><br/>
            <a href="https://monadical.com/team.html">Monadical Team</a><br/>
            <a href="https://monadical.com/blog.html">Monadical Blog</a><br/>
            <a href="{% url 'Speedtest' %}">Speedtest</a><br/>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 copyright">
            <small>
                Monadical © 2020
            </small><br/><br/>
        </div>
    </div>
</div>

