{% extends 'ui/base.html' %}

{% load static %}
{% load utils %}

{% block title %}Signup and Login{% endblock %}


{% block outer %}
    <style>
        body {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        .container-fluid {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
        }
        h1.oddslingers-text-logo {
            text-align: center;
            font-size: 66px;
            color: #ddd;
            white-space: nowrap;
        }
        h1 small {
            font-size: 80px;
        }
        .input-group-addon {
            border: 1px solid #aaa;
            color: white;
        }
        .social-btns {
            opacity: 0.4;
            float: none;
            display: inline-block;
            vertical-align: top;
        }
        @media (max-width: 768px) {
            .social-btns {
                display: none;
            }
        }
    </style>
    <div class="login-page container-fluid">
        <h1 class="oddslingers-text-logo">
            <a href="/">
                <img alt="O" src="{% static 'images/logo.png' %}" style="height: 120px"><br/>
            </a>
            <a href="/" style="color:orange">Odd</a>slingers
        </h1>
        <br/>

        {% include 'ui/forms/signup.html' %}

        <script>
            $('#username-field').focus().click()
        </script>
    </div>
{% endblock outer %}
